*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 98%;
  margin: 0 auto;
}

.container-big{
  width: 1200px;
}

.container-small{
  width: 1000px;
}

.font-max{
  font-size: 4.875rem;
}

.font-max-middle{
  font-size: 4rem;
}

.font-middle{
  font-size: 2.4rem;
}

.font-min{
  font-size: 1.563rem;
}

.font-s{
  font-size: 0.875rem;
}

.font-bold{
  font-weight: 800;
}

.font-normal{
  font-weight: 600;
}

.overflow{
  overflow: auto;
  max-height: 320px;
}

.tex-center{
  text-align: center;
}

.d-flex{
  display: flex;
}

.al-i-center{
  align-items: center;
}

.ico-padd-top{
  padding-top: 2px;
}

.ico-blu{
  color: #0061FF;
}

.just-center{
  justify-content: center;
}

.just-between{
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.list{
  list-style: none;
}

.c-p{
  cursor: pointer;
}

.link-fix{
  text-decoration: none;
  color: white;
}

a{
  color: purple;
}

.list li a, span a, .card .b-button a{
  text-decoration: none;
  color: black;
}

.button{
  border: 1px solid #9B9B9B;
}

.button.b-button{
  background-color: #0061FF;
  border-color: #0061FF;
}

.button.b-button a{
  color: white;
}

.button.normal-button{
  padding: 10px 15px;
}

.card-button{
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin-top: 30px;
}

.menu{
  background-color: white;
  justify-content: space-between;
  padding: 0px 15px;
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 3px gray;
  z-index: 999;
}

.menu .l-list li{
  padding-left: 40px;
}

.menu .r-list li{
  padding: 7px 20px;
}

.jumbotron{
  padding-top: 80px;
  background-color: #B4D0E7;
  height: 88vh;
  min-height: 710px;
}

#title{
  padding-top: 78px;
}

.text{
  margin: 40px 0;
}

#l-jumbo{
  width: 70%;
}

#r-jumbo img{
  width: 100%;
}

.main-padding{
  padding-top: 150px;
  padding-bottom: 55px;
}

.radio{
  padding-right: 50px;
  padding-bottom: 50px;
}

.box{
  margin-bottom: 50px;
}

.column{
  width: 300px;
}

.card{
  padding:0 40px;
  border: 1px solid #d2d2d2;
}

.card-1{
  padding-bottom: 210px;
}

.card-2{
  height: 100%;
}

.card-4{
  padding-bottom: 30px;
}

.card-head{
  padding: 10px 0;
  border-top: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}

.card-head-verticale{
  width: 300px;
}

.card-title{
  padding-top: 30px;
  padding-bottom: 20px;
}

.card-price{
  padding-bottom: 10px;
}

.price-time{
  color: gray;
}

.list-card{
  padding-top: 30px
}

.list-card li{
  padding: 10px 0;
}

.list-card li div{
  padding-left: 5px;
}

.acquista{
  padding-top: 35px;
}

.acquista div{
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 40px;
}

.acquista a{
  padding-left: 2.5px;
}

.button-orizontal-card{
  width: calc(300px - 40px);
  padding-left: 40px;
}

.contact{
  padding-top: 100px;
  padding-bottom: 165px;
}

.contact .img img{
  width: 100%;
}

.contact .content{
  width: 75%;
  padding: 60px 50px;
}

.contact .content p{
  padding-top: 20px;
  padding-bottom: 30px;
}

.contact .content-button{
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

.contact .content-button a{
  text-decoration: none;
  color: black;
}

.details{
  width: 300px;
  padding-top: 60px;
  padding-bottom: 70px;
}

.datails-central{
  margin: 0 50px;
}

.details img{
  width: 100%;
}

.details h2{
  padding-bottom: 40px;
}

.team-user{
  padding-bottom: 150px;
}

.team-user .n-user{
  padding-top: 130px;
  padding-bottom: 55px;
}

.aziende .rettangolo{
  width: 100%;
  aspect-ratio: 3/1;
}

.rettangolo .quadrato{
  width: calc(100% / 3);
  aspect-ratio: 1/1;
  background-color: #F5F5F5;
}

.quadrato .description{
  padding: 50px;
}

.quadrato .description img{
  width: 50%;
}

.quadrato .description .autore{
  padding-top: 55px;
}

.quadrato .border{
  padding-top: 40px;
  margin-bottom: 40px;
  width: 105px;
  border-bottom: 1px solid #d2d2d2;
}

.quadrato .quadrato-piccolo{
  width: 50%;
  aspect-ratio: 1/1;
}

.quadrato .quadrato-piccolo img{
  filter: invert(100%);
  width: 50%;
}

.quadrato-selected{
  border: 15px solid rgba(255, 255, 255, 0.0);
}

.quadrato-piccolo:hover.quadrato-selected{
  border: 15px solid rgba(255, 255, 255, 0.4);
}

.quadrato .designit{
  background-color: #A2D39B;
}

.quadrato .asu{
  background-color: #61082B;
}

.quadrato .uf-florida{
  background-color: #0093CE;
}

.quadrato .topps{
  background-color: #FF1C1C;
}

.quadrato .w-b-r{
  background-color: #D5001F;
}

.quadrato .hearts-corporation{
  background-color: #B4D0E7;
}

.quadrato .lonely-planet{
  background-color: #0D2481;
}

.quadrato .c-c-o{
  background-color: #FFD830;
}

.dropbox-busines{
  background-color: #B4D0E7;
  padding: 135px 0;
}

.dropbox-busines h2{
  color: #61082B;
}

.dropbox-busines .busines-botton{
  background-color: white;
  height: 45px;
  width: 295px;
}

.domande-frequenti{
  padding-top: 160px;
  padding-bottom: 150px;
}

.domande-frequenti h2{
  padding-bottom: 55px;
}

.domande-frequenti .domanda{
  padding: 45px 0;
  border-top: 1px solid #999999;
}

.domande-frequenti .chevron{
  position: absolute;
  right: 40px;
}

.domande-frequenti .contenitore-domande{
  border-bottom: 1px solid #999999;
}

.chevron-container{
  position: relative;
}

.risposta{
  padding-top: 40px;
}

.chevron-up{
  display: none;
}

.contenitore-domande .domanda:hover .chevron-down{
  display: none;
}

.contenitore-domande .domanda:hover .chevron-up{
  display: block;
}

footer{
  background-color: black;
  color: white
}

.footer-up{
  padding-top: 100px;
  padding-bottom: 110px;
}

.footer-line-center{
  border-bottom: 1px solid white;
  width: 120px;
}

.footer-up ul{
  padding-top: 20px;
}

.footer-up ul li{
  line-height: 40px;
  list-style: none;
}



.footer-low{
  padding: 50px 0;
  color: #999999;
}

.footer-low .national-arrow{
  padding-left: 5px;
  padding-top: 5px;
}

.footer-low .earth{
  padding-right: 10px;
}
